<div class="container">
<div class="loginform">
<h2 class="signin">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
	<div class="row">
  		<div><%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: "col-xs-10 col-xs-offset-1 fname input-lg"%></div>
	</div>
  	<div class="resetpword"><%= f.submit "Send Reset Password Instructions", class: "btn" %></div>
  <% end %>

<div class="text-center"><%= render "devise/shared/links" %></div>
</div>
</div>