<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div><%= f.text_field :artist, placeholder: 'Artist', class: "col-xs-8 col-xs-offset-2 input-lg" %></div>
  </div>
  <div class="row">
    <div><%= f.text_field :title, placeholder: 'Title', class: "col-xs-8 col-xs-offset-2 input-lg" %></div>
  </div>
  <div class="row">
    <div><%= f.text_field :genre, placeholder: 'Genre', class: "col-xs-8 col-xs-offset-2 input-lg" %></div>
  </div>
  <div class="row">
    <div><%= f.text_area :notes, placeholder: 'Notes', class: "col-xs-8 col-xs-offset-2 input-lg" %></div>
  </div>
  <div class="row">
    <div class="rating col-xs-offset-2">
      <%= f.select :rating, [["-- rating", nil], 1,2,3,4,5] %> 
    </div>
  </div>
  <div class="actions subform">
    <%= f.submit "Submit", class: "btn" %>
  </div>
<% end %>
