<div class="index-container">
<table class="index-table">
  <tr class="index-table-heading">
    <th class="sortable"><%= sortable "artist" %></th>
    <th class="sortable"><%= sortable "title" %></th>
    <th class="sortable"><%= sortable "genre" %></th>
    <th class="sortable"><%= sortable "rating" %></th>
  </tr>
    <% for song in @songs %>
      <% if song.user_id == current_user.id %>
        <tr>
          <td class="artist"><%= song.artist %></td>
          <td class="song-link"><%= link_to song.title, song %></td>
          <td class="genre"><%= song.genre %></td>
          <td>
            <% if song.rating == nil %>
              unrated
            <% else %>
              <% song.rating.times do %>
                <i class="fa fa-star"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  
</table>
</div>