<table class="songs">
  <tr>
    <th><%= sortable "artist" %></th>
    <th><%= sortable "title" %></th>
    <th><%= sortable "genre" %></th>
  </tr>
  <% for song in @songs %>
  <% if song.user_id == current_user.id %>
  <tr>
    <td><%= song.artist %></td>
    <td class="song_link">"<em><%= link_to song.title, song %><em>"</td>
    <td><%= song.genre %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>






