<div class="index-container">
	<div class="loginform text-center">
		<h3><%= @song.artist %></h3>
		<h2 class="song-title">"<%= @song.title %>"</h2>
		<h3><%= @song.genre %></h3>
		<% if @song.rating == nil %>
        		unrated
      		<% else %>
        		<% @song.rating.times do %>
          			<i class="fa fa-star fa-lg"></i>
        		<% end %>
      	<% end %>
      	<p><%= @song.notes %></p>
		<div class="subform">
			<%= link_to 'Edit', edit_song_path(@song) %> |
			<%= link_to 'Delete', song_path(@song), method: :delete, data: { confirm: 'Are You Sure?' } %><br>
			<%= link_to 'Back', songs_path %>
		</div>
	</div>
</div>