<!DOCTYPE html>
<html>
<head>
  <title>Karaoke</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
<body>
<% if user_signed_in? %>
<div></div>
  <ul class="navgbar">
    <!--<li class="username"><%= current_user.first_name %> <%= current_user.last_name %></li>-->
    <li><%= link_to 'Home', songs_path %></li>
    <li><%= link_to 'Profile', home_index_path %></li>
    <li><%= link_to 'New Song', new_song_path %></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  </ul>
<% end %>
<h1 class="heading text-center"><span class="monday">monday</span>marvellettes</h1>
<%= yield %>
<footer>&copy;2014 ali.kaufman</footer>
</body>
</html>