<!DOCTYPE html>
<html>
<head>
  <title>Karaoke</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
</head>
<body>
<h1 class="heading text-center"><span class="cursive">Monday</span>Marvellettes</h1>
<% if user_signed_in? %>
  <ul class="nav-bar marmelad">
    <li><%= current_user.first_name %> <%= current_user.last_name %></li>
    <li><%= link_to 'Home', songs_path %></li>
    <li><%= link_to 'Profile', home_index_path %></li>
    <li><%= link_to 'New Song', new_song_path %></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
  </ul>
    </div>
  </div>
    </nav>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Log in", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
<div class="container">
<%= yield %>
</div>
</body>
</html>
